.modal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100rem;
    margin: 10rem auto;
    box-shadow: $big-shadow;
    border-radius: 0.5rem;
    z-index: 999;

    &-section {
        padding: 5rem;
        grid-gap: 5rem;
        display: grid;
        align-items: center;
        align-content: center;

        &-output {
            background-color: $color-white-opacity;
        }

        &-input {
            background-color: $color-gray-darker;
        }
    }
}

@media (max-width: 768px) {
    .modal {
        margin: 3rem auto;
        max-width: 80vw;
        grid-template-columns: 1fr;

        &-section {
            padding: 5rem 2rem;
        }
    }
}