.button {
    background-color: $color-active-button;
    padding: $padding-button;
    border: none;
    min-width: fit-content;
    height: fit-content;
    border-radius: 2rem;
    box-shadow: $small-shadow;
    transition: 0.1s ease;

    &:active {
        background-color: $color-gray;
    }
}

