.button {
    background-color: $color-active-button;
    padding: $padding-oneline-element;
    border: none;
    min-width: fit-content;
    height: fit-content;
    border-radius: $radius-oneline-element;
    box-shadow: $small-shadow;
    transition: 0.1s ease;
    text-align: center;

    &:active {
        background-color: $color-gray;
    }
}

.active {
    background-color: $color-gray;
}

