/* Default Colors */
$color-gray: #949494;
$color-gray-darker: #707070;
$color-gray-shadow: #3b3b3b;
$color-white-opacity: #ffffff7d;

/* Button colors*/
// $color-inactive-button: hsla(28, 87, 59, 1);
$color-active-button: #ff7f35;

