/* Default Colors */
$color-theme: #949494;
$color-theme-modal: #6e6e6e;
$color-theme-shadow: #3b3b3b;

/* Button colors*/
// $color-inactive-button: hsla(28, 87, 59, 1);
$color-active-button: #f27831;

