/* Default Colors */
$color-theme: hsla(11, 2, 84, 1);
$color-theme-container: hsla(0, 0, 15, 1);
$color-error: hsla(11, 96, 48, 1);

/* Button colors*/
// $color-inactive-button: hsla(28, 87, 59, 1);
$color-active-button: hsla(22, 88, 57, 1);